@import "../../sass/variables";
@import "../../sass/mixins";

.description {
  &__col--2 {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
  }

  &__detail {
    margin-bottom: 0.5rem;
  }
}

.discount {
  @include fontTiny;
  @include center;
  width: fit-content;
  color: $color-blue-dark;
  background-color: $color-blue-light;
  padding: 0.5rem;
  border-radius: 0.4rem;
  margin: 5px 0;
}
