@import "../../sass/mixins";
@import "../../sass/variables";

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;

  &__number {
    position: absolute;
    top: 3.2rem;
    left: -2.2rem;

    width: 4.4rem;
    height: 4.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: $border;
    border-radius: 50%;

    background-color: $color-grey-0;
    @include fontLg;
    color: $color-grey-600;
  }

  &__image {
    width: 14rem;
  }

  &__caption {
    @include fontTiny;
    color: $color-grey-600;
  }
}
