.related {
  display: grid;
  //   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(20rem, 30rem));
  gap: 5rem;
  justify-content: center;
}
