@import "./sass/variables";
@import "./sass/mixins";

* {
  &,
  &::before,
  &::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  @include fontMd;
  font-weight: 400;
  color: $color-grey-800;
  background-color: $color-grey-50;
}

%container {
  max-width: 120rem;
  margin: 0 auto;
}

.inner-container {
  @extend %container;
  padding: 0 5rem;
}

.section {
  @extend %container;
  padding: 0 10rem;
  margin-bottom: 8rem;
}

%heading {
  color: $color-grey-900;
  font-weight: 400;
}

.primary-heading {
  @extend %heading;
  @include fontHuge;
}

.secondary-heading {
  @extend %heading;
  @include fontXl(1.4);
}

.tertiary-heading {
  @extend %heading;
  @include fontXl(1.4);
  color: $color-grey-700;
}

.strong {
  font-weight: 700;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
